@import "suitcss-base";
@import "cssrecipes-defaults";
@import "am-space";
@import "am-arrange";
@import "am-utils";
@import "am-size";
@import "am-align";
@import "easings";

@import "icon";
@import "app";
@import "branding";
@import "nav";
@import "menu";
@import "button";
@import "input";
@import "page";
@import "link";
@import "testimonial";

:root {
	--font-sans     : "Helvetica Neue", Sans-serif;
	--font-serif    : "source-serif-pro", "Georgia", Serif;
	--font-headline : var(--font-serif);
	--font-body     : var(--font-serif);

	/* color names */
	--white       : color(#bccb7f tint(80%));
	--black       : #404040;
	--red         : #EC433F;
	--green       : #CAD946;
	--yellow      : #fdd344;
	--blue        : #4AC2CF;
	--red-dark    : #901C20;
	--green-dark  : #929E21;
	--yellow-dark : #BAA600;
	--blue-dark   : #446067;

	/* theme vars */
	--base-background: #e02731;
	--base-color: var(--white);
	--base-font: 18px/1.65 var(--font-serif);

	--palm : 20rem;
	--lap  : 40rem;
	--desk : 50rem;
	--wide : 60rem;


	/* COMPONENTS */
	--Menu-background: var(--white);
	--Menu-color-primary: var(--black);
	--Menu-color-accent: var(--red);

	--Input-color: var(--black);
	--Link-color: var(--yellow);

}


@custom-media --palm (min-width: 30rem);
@custom-media --lap (min-width: 40rem);
@custom-media --desk (min-width: 50rem);
@custom-media --wide (min-width: 60rem);

@custom-media --sm-viewport (var(--palm));
@custom-media --md-viewport (var(--lap));
@custom-media --lg-viewport (var(--desk));

img {
	width: 100%;
}

html {
	font: var(--base-font);
	background: var(--base-background);
	color: var(--white);
}

[data-am-Link~="plain"], [data-am-Link~="plain"]:hover {
	box-shadow: none;
}
