<form method="POST" action="http://forms.brace.io/contact@susiecaters.com">

	<ul>
		<li data-am-margin="bottom medium">
			<label
				data-am-display="block"
				for="exampleInputName"
				data-am-Input-label
			>
				Name
			</label>
			<input
				name="name"
				type="name"
				id="exampleInputName"
				placeholder="Enter name"
				data-am-display="block"
				data-am-Input="text"
			>
		</li>

		<li data-am-margin="bottom medium">
			<label
				for="email"
				data-am-display="block"
				data-am-Input-label
			>
				Email Address
			</label>
			<input
				name="_replyto"
				type="email"
				id="email"
				placeholder="Enter email"
				data-am-display="block"
				data-am-Input="text"
			>
		</li>

		<li data-am-margin="bottom medium">
			<label
				for="number"
				data-am-Input-label
				data-am-display="block"
			>
				Phone Number
			</label>
			<input
				name="number"
				type="number"
				id="number"
				placeholder="Phone Number"
				data-am-display="block"
				data-am-Input="text"
			>
		</li>

		<li data-am-margin="bottom medium">
			<label
				for="message"
				data-am-Input-label
				data-am-display="block"
			>
				Tell Me About Your Event
			</label>
			<textarea
				name="message"
				id="message"
				rows="3"
				data-am-display="block"
				data-am-Input="text"
			></textarea>
		</li>

		<li data-am-margin="bottom medium">
			<input type="text" name="_gotcha" style="display:none" />
			<input type="hidden" name="_subject" value="New submission!" />
			<input type="hidden" name="_next" value="//susiecaters.com/thanks.html" />
			<button
				type="submit"
				data-am-Button="primary"
			>
				Send
			</button>
		</li>

	</ul>

</form>
