<header data-am-App-header role="banner">
	<nav
		role="navigation"
		data-am-size="lap:5of10 lap:fitAlt"
	>
		<ul
			data-am-Nav
			data-am-Arrange="middle equal"
			data-am-text="center"
		>
			<li data-am-Arrangesize="fit">
				<a href="/menu.html">menu</a>
			</li>
			<!--<li data-am-Arrangesize="fit">-->
				<!--<a href="/testimonials.html">testimonials</a>-->
			<!--</li>-->
			<li data-am-Arrangesize="fit">
				<a href="/contact.html">book my event</a>
			</li>
		</ul>
	</nav>
	<h1 data-am-Branding>
		<a data-am-Link="plain" href="/index.html">
			<img
				data-am-Branding-logo
				data-am-padding="all gigantic"
				src="./images/susies-catering.svg" alt="Susie's Catering"
			/>
		</a>
	</h1>
</header>
