<header data-am-App-header role="banner">
	<nav
		role="navigation"
		data-am-size="lap:4of10 lap:fitAlt"
	>
		<ul
			data-am-Nav
			data-am-Arrange="middle equal"
			data-am-text="center"
		>
			<li data-am-Arrangesize="fit">
				<a href="#">menu</a>
			</li>
			<li data-am-Arrangesize="fit">
				<a href="#">testimonials</a>
			</li>
			<li data-am-Arrangesize="fit">
				<a href="#">contact</a>
			</li>
		</ul>
	</nav>
	<h1 data-am-Branding>
		<img
			data-am-Branding-logo
			data-am-padding="all gigantic"
			src="./images/susies-catering.svg" alt="Susie's Catering"
		/>
	</h1>
</header>
