<div
	data-am-Menu
	data-am-align="center"
	data-am-layout="cf"
>
	<header>
		<h1 data-am-Menu-header>Menu</h1>
	</header>
	<section
		data-am-Menu-section="primary"
		data-am-size="full lap:1of2"
		data-am-align="center"
		data-am-margin="bottom gigantic"
	>
		<h2 data-am-Menu-subheader>pricing</h2>
		<ul data-am-MenuList data-am-Arrange="middle equal">
			<li data-am-layout="cf">
				<h3 data-am-size="fit">
					one entrée
				</h3>
				<span data-am-size="fitAlt">
					9.95
				</span>
			</li>
			<li data-am-layout="cf">
				<h3 data-am-size="fit">
					two entrées
				</h3>
				<span data-am-size="fitAlt">
					11.95
				</span>
			</li>
			<li data-am-layout="cf">
				<h3 data-am-size="fit">
					three entrées
				</h3>
				<span data-am-size="fitAlt">
					13.95
				</span>
			</li>
		</ul>
		<small data-am-Menu-fineprint><em>included per person:</em> one pasta, one potato, one vegetable, garden salad with ranch &amp; italian dressing, fresh baked rolls &amp; butter, and coffee.</small>
	</section>
	<section
		data-am-Menu-section="primary"
		data-am-size="full lap:1of2"
		data-am-align="center"
		data-am-margin="bottom gigantic"
	>
		<h2 data-am-Menu-subheader>entrées</h2>
		<ul data-am-Menu-list>
			<li>
				roast pork loin
			</li>
			<li>
				roasted chicken
			</li>
			<li>
				barbeque chicken
			</li>
			<li>
				roast beef au jus
			</li>
			<li>
				swedish meatballs
			</li>
			<li>
				roast turkey breast
			</li>
			<li>
				honey glazed spiral cut ham
			</li>
			<li>
				polish sausage with sauerkraut
			</li>
			<li>
				boneless breaded chicken breast
			</li>
			<li>
				italian sausage with peppers &amp; onions
			</li>
			<li>
				fettuccini alfredo with chicken &amp; broccoli
			</li>
		</ul>
		<small data-am-Menu-fineprint>chicken is bone-in breasts, legs, &amp; thighs unless otherwise noted</small>
	</section>
	<div data-am-layout="cf">
		<section
			data-am-Menu-section
			data-am-size="full lap:fit lap:1of2 desk:1of3"
		>
			<h2 data-am-Menu-subheader>vegetables</h2>
			<ul data-am-Menu-list>
				<li>
					honey glazed carrots
				</li>
				<li>
					country fresh corn with butter
				</li>
				<li>
					tender green beans almondine
				</li>
				<li>
					sweet peas with mushrooms &amp; onions
				</li>
				<li>
					colorful califonia cauliflower, carrots, &amp; broccoli
				</li>
			</ul>
		</section>
		<section
			data-am-Menu-section
			data-am-size="full lap:fit lap:1of2 desk:1of3"
		>
			<h2 data-am-Menu-subheader>pastas</h2>
			<ul data-am-Menu-list>
				<li>
					fettuccini alfredo
				</li>
				<li>
					three cheese lasagna
				</li>
				<li>
					farfaille (bowtie) alfredo
				</li>
				<li>
					mostaccioli with meat sauce
				</li>
				<li>
					mostaccioli with marinara sauce
				</li>
			</ul>
		</section>
		<section
			data-am-Menu-section
			data-am-size="full lap:fit lap:1of2 desk:1of3"
		>
			<h2 data-am-Menu-subheader>potatoes</h2>
			<ul data-am-Menu-list>
				<li>
					smashed
				</li>
				<li>
					oven roasted
				</li>
				<li>
					herb seasoned redskins
				</li>
				<li>
					homemade mashed with gravy
				</li>
			</ul>
		</section>
	</div>
</div>
